<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Uplift</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'Uplift', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
            Characters
            <b class='caret'></b>
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to 'List all characters', characters_path %></li>
            <li><%= link_to 'New character', new_character_path %></li>
          </ul>
        </li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</header>

<div class="container master-container">
  <% if notice %>
    <div class="alert alert-success fade in" data-alert="alert">
      <a class="close" data-dismiss='alert' href="#">×</a>
      <p><%= notice %></p>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p>Copyright 2013-2014 <a href="http://dimascyriaco.com.br">Dimas Cyriaco </a></p>

    <ul class="footer-links">
      <li><a href="https://github.com/dimascyriaco">Dimas Cyriaco @ GitHub</a></li>
    </ul>
  </div>
</footer>

<%= javascript_include_tag 'application' %>
</body>
</html>
